@page "/"

<AuthorizeView>
	<Authorized>
		<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
			<h1>KITT - Console</h1>
		</MudContainer>
	</Authorized>
	<NotAuthorized>
		<RedirectToLogin />
	</NotAuthorized>
</AuthorizeView>
