@inherits LayoutComponentBase

<FluentToastProvider Position="ToastPosition.TopCenter" />
<FluentDialogProvider />
<FluentTooltipProvider />

<FluentLayout>
    <FluentHeader>
        <FluentLabel Typo="Typography.H1" Color="Color.Fill">KITT</FluentLabel>
        <FluentSpacer />
        <FluentStack Orientation="Orientation.Horizontal"
                     HorizontalAlignment="HorizontalAlignment.End"
                     VerticalAlignment="VerticalAlignment.Center">
            @*<MessageComposer />
            <LoginDisplay />*@
        </FluentStack>
    </FluentHeader>
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <NavMenu />
        <FluentBodyContent Class="body-content">
            <div class="content">
                <FluentStack Orientation="Orientation.Horizontal"
                             VerticalAlignment="VerticalAlignment.Center"
                             Class="d-flex mb-2">
                    <FluentLabel Typo="Typography.H2" Class="flex-grow-1">
                        <SectionOutlet SectionName="@SectionNames.PageTitleSectionName" />
                    </FluentLabel>
                    <SectionOutlet SectionName="@SectionNames.ToolbarSectionName" />
                </FluentStack>
                <FluentDivider />
                <FluentMessageBarProvider Section="@SectionNames.MessagesTopSectionName" />

                <div class="mt-4">
                    @Body
                </div>
            </div>
        </FluentBodyContent>
    </FluentStack>
    <FluentFooter>
        <span>&copy; @DateTime.Today.Year</span> - Dev by&nbsp;<a href="https://www.morialberto.it" target="_blank">Alberto Mori</a>
    </FluentFooter>
</FluentLayout>

@code {
    [Inject]
    public NavigationManager Navigation { get; set; } = default!;

    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    void OpenSettingsPage()
    {
        Navigation.NavigateTo("settings");
    }
}
