@model LoginViewModel

<div class="row">
    <div class="col-md-5">
        <section >
            <form asp-route="Login">
                <h2>Login</h2>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="ReturnUrl" />

                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input class="form-control" placeholder="Username" asp-for="UserName" autofocus>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="RememberLogin">
                        <label class="form-check-label" asp-for="RememberLogin">
                            Remember My Login
                        </label>
                    </div>
                </div>

                <button class="btn btn-primary" name="button" value="login">Login</button>
                <button class="btn btn-secondary" name="button" value="cancel">Cancel</button>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}